.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }

  .message {
    font-size: 1rem;
    color: #050505;
    padding: 6px;
    background-color: #fbff06ef;
    border: 2px solid #fffdfd00;
    border-radius: 0px;
  }